.userPhoto {
    width: 150px;
    height: 150px;
    border: 1px solid grey;
}

.tr {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.photo {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.name {
    height: 120px;
    width: 600px;
    border: 2px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    color: grey;
}

.marginBottom {
    margin-bottom: 30px;
}

.table {
    width: 100%;
    margin: 50px;
    border-collapse: collapse;
}

.status {
    font-size: 18px;
}

.button {
    width: 100px;
    height:30px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #4371c4;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: whitesmoke;
}

.span {
    cursor: pointer;
    margin-left: 20px;
    font-size: 18px;
    color: grey;
}

.selectedPage {
    font-weight: bold;
    font-size: 24px;
    color: black
}

.pages {
    margin-left: 55px;
    margin-top: 20px;
}

.preloader {
    width: 100%;
    height: 100%;
}
.paginatorButton {
    width: 50px;
    height: 30px;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px solid gray;
}

.info{
    font-size: 16px;
}

.infoContacts{
    font-size: 16px;
    margin-left: 20px;
}